# hidden files and directories
.*

# shell scripts and Makefile
*.sh
Makefile

# virtual environments
env*

# Python-specific stuff
*.egg-info/
dist/
htmlcov/
coverage.xml

# SQL fixtures and tests
setup.sql
sql/

# other stuff
*.log
MANIFEST*
Dockerfile

**/__pycache__/**
**/test/**
