name: Integration tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  integrations_tests:
    runs-on: ubuntu-latest

    strategy:
      # Do not fail if one the tests did not pass
      fail-fast: false

      matrix:
        # Docker images of MySQL-compliant databases to run the tests suite on
        database:
          # https://hub.docker.com/_/mysql?tab=tags
          - "mysql:5.7.32"
          - "mysql:8.0.22"
          - "mysql:8.1.0"
          - "mysql:9.4.0"
          # https://hub.docker.com/_/mariadb?tab=tags
          - "mariadb:10.1"
          - "mariadb:10.2"
          - "mariadb:10.5"
          - "mariadb:10.6"
          - "mariadb:11.8"
          - "mariadb:12.0"
          # https://hub.docker.com/_/percona?tab=tags
          - "percona:8.0.22-13"

    services:
        mysql:
            image: ${{ matrix.database }}
            env:
                MYSQL_ALLOW_EMPTY_PASSWORD: yes
                MYSQL_DATABASE: index_digest
            ports:
                - "53306:3306"
            options: --health-cmd="mysqladmin ping || mariadb-admin ping" --health-interval=10s --health-timeout=5s --health-retries=6

    steps:
    - uses: actions/checkout@v6.0.2

    # https://github.com/actions/setup-python?tab=readme-ov-file#caching-packages-dependencies
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
        cache: 'pip' # dependencies caching
        cache-dependency-path: 'setup.py'

    - name: Install dependencies
      run: |
        pip install wheel
        make install

    - name: Set up the database
      run: |
        docker ps
        mysql --protocol=tcp --port=53306 -u root --password="" -v < setup.sql
        # import the test schema files
        "./sql/populate.sh"
        mysql --protocol=tcp --port=53306 -uindex_digest -pqwerty index_digest -v -e '\s; SHOW TABLES; SHOW DATABASES;'

    - name: Tests
      run: make test
